<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension id="product" point="org.eclipse.core.runtime.products">
		<product application="org.talaxie.cli.branding.generator.application" name="%productName">
			<property name="windowImages" value="platform:/plugin/org.talend.rcp/icons/appli_16x16.gif,platform:/plugin/org.talend.rcp/icons/appli_32x32.gif,platform:/plugin/org.talend.rcp/icons/appli_48x48.gif"/>
			<property name="appName" value="%productName">
      </property>
			<property name="cssTheme" value="org.talend.themes.css.talend.default">
      </property>
			<property name="applicationCSSResources" value="platform:/plugin/org.talend.themes.css.talend/themes/">
      </property>
			<property name="lifeCycleURI" value="bundleclass://org.talend.core.ui/org.talend.core.ui.TalendStudioLifeCycleManager">
      </property>
			<property name="preferenceCustomization" value="platform:/plugin/org.talaxie.cli.branding.generator/plugin_customization.ini">
      </property>
		</product>
	</extension>
	<extension id="application" point="org.eclipse.core.runtime.applications">
		<application>
			<run class="org.talend.designer.core.generator.CodeGeneratorApplication">
         </run>
		</application>
	</extension>
	<extension point="org.talend.core.runtime.service">
		<Service class="org.talaxie.cli.branding.generator.CliBrandingService" serviceId="org.talend.core.ui.branding.IBrandingService"/>
	</extension>
</plugin>
